.cart-bg {
  background-color: rgb(185, 255, 176);
}
.cart-content-bg {
  background: white;
  border: 1px solid #000000;
}
.cart-content-coupon-image {
  min-height: 150px;
  max-height: 150px;
  padding: 1px;
}

.cart-coupon-border {
  border-left: 1px solid black;
}
.fa-times-circle {
  cursor: pointer;
}
.purchase-btn {
  cursor: pointer;
}
.none {
  color: grey;
  font-size: 20px;
  font-weight: lighter;
}
@media (max-width: 750px) {
  .cart-coupon-border {
    border-left: none;
  }
}
.already-purchased-msg-choice-yes {
  cursor: pointer;
  color: rgb(39, 131, 85);
}
.already-purchased-msg-choice-no {
  cursor: pointer;
  color: rgb(211, 31, 31);
}
.already-purchased-msg-choice-yes:hover {
  color: white;
  background-color: green;
}
.already-purchased-msg-choice-no:hover {
  color: white;
  background-color: rgb(211, 31, 31);
}
