.cart-bg {
  background-color: rgb(185, 255, 176);
}
.cart-content-bg {
  background: white;
  border: 1px solid #000000;
  /* box-shadow: 0px 0px 5px 3px rgb(15, 15, 15); */
}
.cart-content-coupon-image {
  min-height: 150px;
  max-height: 150px;
  padding: 1px;
}

.cart-coupon-border {
  border-left: 1px solid black;
}
.fa-times-circle {
  cursor: pointer;
}
.purchase-btn {
  cursor: pointer;
}
.none {
  color: grey;
  font-size: 20px;
  font-weight: lighter;
}
